body {
	margin-top: 90px;
background: black url(../images/red_balloons_background.png) fixed top center repeat-x;
background-size: 350px 675px;
}

.container{
	width:100%;
	margin: 0 auto;
	font-size: 100%;
	line-height: 1.5;
	background-color: #D2D6C4;
	margin-bottom: 50px
}
a{
	text-decoration: none;
	color:#700000;
}

a:hover{
	color:red;
}





/*headings*/




/*main*/
p{
	font-family: play;
	font-size: 16px;
	margin: 23.4px 60px 0 60px;
	line-height: 23.4px;
}

.title h1 {
	font-family: 'Cinzel', serif;
	font-size: 28px;
	margin-top:50px;
	margin-left: 60px;
	color:#B42224;
	font-weight: bolder;
	line-height: 1.3;
}

.contents h2{
	font-family: 'Cinzel', serif;
	font-size: 20px;
	margin-top: 80px;
	color:#B42224;
	margin-left: 60px;
	font-weight: bold;
}
.contents img{
	width:960px;
	height:576px;
	margin:10px 0;
	vertical-align: middle;
}

.contents figcaption{
	text-align: center;	
	font-family: play;
	font-size: 14px;
}





/*footer*/
footer{
	padding-top:25px;
}
.about{
	background-color: black;
	color: #D2D6C4;
	padding-bottom:30px;
}
.about p{

}

.about h3{
	font-size: 22px;
	padding: 30px 0 10px 0;
	text-align: center;
}

.copyright p{
	text-align: center;
	padding-bottom: 10px;
	font-size: 14px;
}

footer a{
	text-decoration: none;
	color:#ffacaf;
}

/*form*/
